<%= link_to "Log Out", logout_path %>
<% @users.each do |user|%>
    <div class="user-container flex-column">
  <%= link_to user_path(user) do %>
      <div class="info-box flex-column shadow-pop-br">
        <div class="flex">
          <% if user.photo %>
              <%= image_tag user.photo, width: 100 if user.photo.attached? %>
          <% else %>
              <p> No image found </p>
          <% end %>
          <h1><%= user.name %></h1>
        </div>
        <p class="posts-counter">Number of posts: <span><%= user.posts_counter %></span></p>
      </div>
  <% end %>
    </div>
<% end %>