<%= render 'shared/user' %>

<section class="info-section">
  <div class="info-box">
    <h3>Bio:</h3>
    <p><%= @user.bio %></p>
  </div>

  <h3 class="section-title">Posts:</h3>
  <% counter = 1 %>
  <% @user.last_three_posts.each do |post| %>
    <%= link_to user_post_url(post.author_id, post.id) do %>
      <div class="info-box shadow-pop-br">
        <h3>Post #<%= counter %></h3>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></p>
      </div>
    <% end %>
      <% counter += 1 %>
  <% end %>

  <% unless @user.posts.count <= 4 %>
    <button class="all-btn">
      <%= link_to 'See all posts', user_posts_path(@user)%>
    </button>
  <% end %>
</section>
